#searchpic{
    border-radius: 6px;
    position: relative;
    left: 409px;
    top: 1137px;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: normal;
    /* margin-bottom: 30px; */
    height: 35px;
    width: 200px;
    border: 1px solid #b9b9b9;
}
#search1{
    font-family: Tahoma;
    margin-top: 15px;
    position: relative;
    top: 350px;
    left: 117px;
}

#srch{
    background: #000;
    width: 176px;
    height: 40px;
    font-family: Tahoma;
    text-align: center;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    margin-left: 224px;
    padding: 0px;
    top: 256px;
    position: relative;
}
#srch:hover{
    background: #ffff;
    transition: all 1s;
    color:#000;
    font-family: Tahoma;
    border-color: 1px solid #bcccbe;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.2);

}

@media only screen and (min-width : 240px) and (max-width: 320px){
    #searchpic{
        border-radius: 6px;
        position: relative;
        left: 120px;
        top: 303px;
        font-family: Tahoma;
        font-size: 15px;
        font-weight: normal;
        /* margin-bottom: 30px; */
        height: 35px;
        width: 121px;
        border: 1px solid #b9b9b9;
    }
    #search1{
        font-family: Tahoma;
        margin-top: 15px;
        position: relative;
        top: 341px;
        left: 125px;
    }

    #srch{
        background: #000;
        width: 80px;
        height: 25px;
        font-family: Tahoma;
        text-align: center;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        margin-left: 159px;
        padding: 0px;
        top: 243px;
        position: relative;
    }
    #srch:hover{
        background: #ffff;
        transition: all 1s;
        color:#000;
        font-family: Tahoma;
        border-color: 1px solid #bcccbe;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.2);

    }


}


@media only screen and (min-width : 322px) and (max-width: 386px){
    #searchpic{
        border-radius: 6px;
        position: relative;
        left: 143px;
        top: 303px;
        font-family: Tahoma;
        font-size: 15px;
        font-weight: normal;
        /* margin-bottom: 30px; */
        height: 35px;
        width: 148px;
        border: 1px solid #b9b9b9;
    }
    #search1{
        font-family: Tahoma;
        margin-top: 15px;
        position: relative;
        top: 337px;
        left: 145px;
    }

    #srch{
        background: #000;
        width: 80px;
        height: 25px;
        font-family: Tahoma;
        text-align: center;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        margin-left: 208px;
        padding: 0px;
        top: 243px;
        position: relative;
    }
    #srch:hover{
        background: #ffff;
        transition: all 1s;
        color:#000;
        font-family: Tahoma;
        border-color: 1px solid #bcccbe;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.2);

    }



}



@media only screen and (min-width : 387px) and (max-width : 480px){

    #searchpic{
        border-radius: 6px;
        position: relative;
        left: 173px;
        top: 305px;
        font-family: Tahoma;
        font-size: 15px;
        font-weight: normal;
        /* margin-bottom: 30px; */
        height: 35px;
        width: 148px;
        border: 1px solid #b9b9b9;
    }
    #search1{
        font-family: Tahoma;
        margin-top: 15px;
        position: relative;
        top: 340px;
        left: 176px;
    }

    #srch{
        background: #000;
        width: 80px;
        height: 25px;
        font-family: Tahoma;
        text-align: center;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        margin-left: 241px;
        padding: 0px;
        top: 246px;
        position: relative;
    }
    #srch:hover{
        background: #ffff;
        transition: all 1s;
        color:#000;
        font-family: Tahoma;
        border-color: 1px solid #bcccbe;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.2);

    }


}



    @media only screen and (min-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
        #searchpic {
            border-radius: 6px;
            position: relative;
            left: 448px;
            top: 1111px;
            font-family: Tahoma;
            font-size: 15px;
            font-weight: normal;
            /* margin-bottom: 30px; */
            height: 35px;
            width: 200px;
            border: 1px solid #b9b9b9;
        }

        #search1 {
            font-family: Tahoma;
            margin-top: 15px;
            position: relative;
            top: 354px;
            left: 216px;
        }

        #srch {
            background: #000;
            width: 100px;
            height: 35px;
            font-family: Tahoma;
            text-align: center;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            margin-left: 316px;
            padding: 0px;
            top: 255px;
            position: relative;
        }

        #srch:hover {
            background: #ffff;
            transition: all 1s;
            color: #000;
            font-family: Tahoma;
            border-color: 1px solid #bcccbe;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.2);

        }


    }



    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1022px) {
        #searchpic {
            border-radius: 6px;
            position: relative;
            left: 285px;
            top: 1173px;
            font-family: Tahoma;
            font-size: 15px;
            font-weight: normal;
            /* margin-bottom: 30px; */
            height: 35px;
            width: 200px;
            border: 1px solid #b9b9b9;
        }

        #search1 {
            font-family: Tahoma;
            margin-top: 15px;
            position: relative;
            top: 389px;
            left: 93px;
        }

        #srch {
            background: #000;
            width: 100px;
            height: 35px;
            font-family: Tahoma;
            text-align: center;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            margin-left: 185px;
            padding: 0px;
            top: 292px;
            position: relative;
        }

        #srch:hover {
            background: #ffff;
            transition: all 1s;
            color: #000;
            font-family: Tahoma;
            border-color: 1px solid #bcccbe;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.2);

        }
    }

    @media only screen and (min-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
        #searchpic {
            border-radius: 6px;
            position: relative;
            left: 448px;
            top: 1111px;
            font-family: Tahoma;
            font-size: 15px;
            font-weight: normal;
            /* margin-bottom: 30px; */
            height: 35px;
            width: 200px;
            border: 1px solid #b9b9b9;
        }

        #search1 {
            font-family: Tahoma;
            margin-top: 15px;
            position: relative;
            top: 354px;
            left: 216px;
        }

        #srch {
            background: #000;
            width: 100px;
            height: 35px;
            font-family: Tahoma;
            text-align: center;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            margin-left: 316px;
            padding: 0px;
            top: 255px;
            position: relative;
        }

        #srch:hover {
            background: #ffff;
            transition: all 1s;
            color: #000;
            font-family: Tahoma;
            border-color: 1px solid #bcccbe;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.2);

        }

    }


    @media only screen  and (min-width: 1224px) and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {

        #searchpic {
            border-radius: 6px;
            position: relative;
            left: 418px;
            top: 1110px;
            font-family: Tahoma;
            font-size: 15px;
            font-weight: normal;
            /* margin-bottom: 30px; */
            height: 35px;
            width: 200px;
            border-radius: 7px;
            border: 1px solid #b9b9b9;
        }

        #search1 {
            font-family: Tahoma;
            margin-top: 15px;
            position: relative;
            top: 352px;
            left: 151px;
        }

        #srch {
            background: #000;
            width: 152px;
            height: 35px;
            font-family: Tahoma;
            text-align: center;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            margin-left: 191px;
            padding: 0px;
            top: 256px;
            position: relative;
        }

        #srch:hover {
            background: #ffff;
            transition: all 1s;
            color: #000;
            font-family: Tahoma;
            border-color: 1px solid #bcccbe;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.2);

        }

    }



    @media only screen   and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {

        #searchpic {
            border-radius: 6px;
            position: relative;
            left: 495px;
            top: 1115px;
            font-family: Tahoma;
            font-size: 15px;
            font-weight: normal;
            /* margin-bottom: 30px; */
            height: 35px;
            width: 200px;
            border-radius: 7px;
            border: 1px solid #b9b9b9;
        }

        #search1 {
            font-family: Tahoma;
            margin-top: 15px;
            position: relative;
            top: 352px;
            left: 205px;
        }

        #srch {
            background: #000;
            width: 152px;
            height: 35px;
            font-family: Tahoma;
            text-align: center;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            margin-left: 249px;
            padding: 0px;
            top: 256px;
            position: relative;
        }

        #srch:hover {
            background: #ffff;
            transition: all 1s;
            color: #000;
            font-family: Tahoma;
            border-color: 1px solid #bcccbe;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.2);

        }

    }
