@import "stylesearch.css";
@import "stylefilter.css";
@import "mobile.css";

#send{
    background: #000;
    width: 196px;
    height: 40px;
    font-family: Tahoma;
    text-align: center;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    margin-left: 344px;
    padding: 0px;
    top: 59px;
    position: relative;

}
#send:hover{
    background: #ffff;
    transition: all 1s;
    color:#000;
    font-family: Tahoma;
    border-color: 1px solid #bcccbe;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.2);

}




#name{
    border-radius: 6px;
    position: absolute;
    left: 409px;
    top: 1860px;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: normal;
    /* margin-bottom: 30px; */
    height: 32px;
    width: 194px;
    border: 1px solid #b9b9b9;
}
#name1{
    font-family: Tahoma;
}
#descr{
    /* border-radius: 9px; */
    /* position: absolute; */
    border-radius: 6px;
    position: absolute;
    left: 407px;
    font-family: Tahoma;
    font-size: 15px;
    top: 1907px;
    /* margin-bottom: 30px; */
    height: 100px;
    width: 234px;
    border: 1px solid #b9b9b9;
}

#opisanie1{
    font-family: Tahoma;
}

#price{
    border-radius: 6px;
    position: absolute;
    left: 407px;
    width: 149px;
    font-family: Tahoma;
    font-size: 15px;
    top: 2016px;
    /* margin-bottom: 30px; */
    height: 32px;
    border: 1px solid #b9b9b9;
}
#price1{font-family: Tahoma;    margin-top: 76px;
    position: absolute;}
#hall{
    border-radius: 6px;
    position: absolute;
    left: 407px;
    top: 2062px;
    font-family: Tahoma;
    font-size: 15px;
    width: 81px;
    /* margin-bottom: 30px; */
    height: 32px;
    border: 1px solid #b9b9b9;
}
#hall1{font-family: Tahoma;     top: 86px;
    position: relative;
}




.insaall{
    /* position: relative; */
    /* margin-top: 26px; */
    /* position: relative; */
    /* bottom: 36px; */
    padding: 0px 0px -6px;
}




@media only screen and (max-width: 41.250em){
    table{
        width: 100%;
        /* float: right; */
        /* margin-left: 19px; */
    }
    tr{
        width:100%;
    }

    #send{
        background: #000;
        width: 117px;
        height: 40px;
        font-family: Tahoma;
        text-align: center;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        margin-left: 223px;
        padding: 0px;
        top: 89px;
        position: relative;
    }
    #send:hover{
        background: #ffff;
        transition: all 1s;
        color:#000;
        font-family: Tahoma;
        border-color: 1px solid #bcccbe;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.2);

    }




    #name{
        border-radius: 6px;
        position: absolute;
        left: 245px;
        top: 2064px;
        font-family: Tahoma;
        font-size: 15px;
        font-weight: normal;
        /* margin-bottom: 30px; */
        height: 32px;
        width: 194px;
        border: 1px solid #b9b9b9;
    }
    #name1{
        font-family: Tahoma;
    }
    #descr{
        border-radius: 9px;
        position: absolute;
        border-radius: 6px;
        position: absolute;
        left: 245px;
        font-family: Tahoma;
        font-size: 15px;
        top: 2114px;
        /* margin-bottom: 30px; */
        height: 100px;
        width: 223px;
        border: 1px solid #b9b9b9;
    }

    #opisanie1{
        font-family: Tahoma;
    }

    #price{
        border-radius: 6px;
        position: absolute;
        left: 246px;
        width: 149px;
        font-family: Tahoma;
        font-size: 15px;
        top: 2226px;
        /* margin-bottom: 30px; */
        height: 32px;
        border: 1px solid #b9b9b9;
    }
    #price1{font-family: Tahoma;    margin-top: 76px;
        position: absolute;}
    #hall{
        border-radius: 6px;
        position: absolute;
        left: 246px;
        top: 2267px;
        font-family: Tahoma;
        font-size: 15px;
        width: 81px;
        /* margin-bottom: 30px; */
        height: 32px;
        border: 1px solid #b9b9b9;
    }
    #hall1{font-family: Tahoma;     top: 86px;
        position: relative;
    }






}